:root {
  --pixel-size: 10;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #96ffc1;
}

.character {
  width: calc(32px * var(--pixel-size));
  height: calc(32px * var(--pixel-size));
  overflow: hidden;
  position: absolute;
  bottom: calc(32px * var(--pixel-size));
}

.run_spritesheet {
  animation: moveSpriteSheet 1s steps(16) infinite;
  width: calc(610px * var(--pixel-size));
}

.pixelart {
  image-rendering: pixelated;
}

@keyframes moveSpriteSheet {
  from {
    transform: translate3d(0px, 0, 0);
  }

  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes scrollGround {
  from {
    background-position: 0 0;
  }

  to {
    background-position: calc(-96px * var(--pixel-size)) 0;
  }
}

.ground_grass {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(32px * var(--pixel-size));
  background-image: url('../assets/autumn_forest_2d_pixel_art/Tileset/grass_single.png');
  background-size: 96px;
  background-repeat: repeat-x;
  z-index: 10;
  animation: scrollGround 5s linear infinite;
}
