:root {
  --pixel-size: 4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #96ffc1;
}

.character {
  width: calc(96px * var(--pixel-size));
  height: calc(96px * var(--pixel-size));
  overflow: hidden;
}

.run_spritesheet {
  animation: moveSpriteSheet 1s steps(16) infinite;
  width: calc(1536px * var(--pixel-size));
}

@keyframes moveSpriteSheet {
  from {
    transform: translate3d(0px, 0, 0);
  }

  to {
    transform: translate3d(-100%, 0, 0);
  }
}
